.progress-bar{
    &,
    &::before,
    &::after {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
    };

    position: relative;
    transform: rotate(90deg); /*rotate(90deg)*/
    margin: auto;
    background: linear-gradient(
        0deg,
        #004455 50%, /*color blanco*/
        #ebebeb 50% /*otro color blanco pero con transparencia*/
    );

    &::before,
    &::after {
        position:absolute;
        top:0;
        left: 0;
        color: #004455;
        text-align: center;
    }
    &::before{
        content: "No.";
        background: #fff content-box; /*content box hace que el background aparezca dentro del área en la que debería de aparecer*/
        padding: .5em;
        box-sizing: border-box;
        font-size: 4rem;
        line-height: 9rem;
        transform: var(--rotateBefore, rotate(-90deg)); /*rotate(-90deg)*/
    }
    &::after{
        content: var(--porcentaje, "50%"); /*"50%"*/
        background: linear-gradient(
            transparent 50%,
            #fff 50%
        );
        transform: scale(1.1) var(--rotateAfter, rotate(-90deg)); /*rotate(-90deg)*/
        line-height: 22rem;
    }
}

.progress-text{
    content: "25";
    text-align: left;
    position: absolute;
    color: greenyellow;
    transform: scale(1.1) var(--text, rotate(-90deg));
    line-height: 1rem;
}






.progress{
    height: 350px;
    width: 350px;
    /*position: absolute;*/
    background-color: yellow;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    transform: var(--grados, rotate(0deg));
}

.cont{
    height: 175px;
    width: 350px;
    
}

.circulo-progress{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    position: relative;
    margin: -300px auto 50px;
}

.rectangulo-progress{
    width: 350px;
    height: 175px;
    background-color: white;
    position: relative;
    margin: -175px auto 50px;
    display: flex;
    justify-content: space-between;
}

.h1-progress{
    position: relative;
    text-align: center;
    margin: -260px auto;
}